{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="mx-auto my-4 text-center">
    <h1>Contact Us</h1>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        Name:<br><input type="text" name ='name' required><br><br>
        Email:<br><input type="text" name ='email' required><br><br>
        Inquiry:<br><input type="text" name ='inquiry' required><br><br>
        Message:<br><textarea type="text" name ='message' required></textarea><br><br>
        
    <button class="btn btn-success my-3" type="submit">Send message</button>
    </form>
</div>
{% endblock %}